/* 노트북 버전 */
/* @media screen and (max-width: 1600px) {
} */


/* 태블릿 버전 */
@media screen and (max-width: 1200px) {
    header {
        height: 100px;
        background-color: rgba(0,0,0,0.2);
    }
    header .header_wrap {
        padding: 1vw 4vw;
    }
    header .header_wrap .logo {
        width: 12vw;
        height: 4.3vw;
    }
    header .header_wrap nav {
        display: none;
    }
    header .header_wrap .menu {
        display: block;
        margin-top: 2.9vw;
        width: 5vw;
        height: 4.5vw;
    }
    /* 메뉴 누르면 나오는 로고 */
    .sitemap .site_logo {
        float: left;
        width: 22vw;
    }
    header .header_wrap .menu {
        width: 3vw;
        height: 3vw;
    }
    /* section 1111111111111 */
    section {height: auto;}
    section.s1 {height: 100vh;}
    section.s1 .swiper .swiper-slide .main_txt {
        line-height: 4.5vw;
    }
    section.s1 .swiper .swiper-slide .main_txt i {
        width: 6vw;
    }
    section.s1 .swiper .swiper-slide .main_txt h1 {
        font-size: 5vw;
    }
    section.s1 .swiper .swiper-slide .main_txt p {
        font-size: 1.8vw;
    }
    /* 태블릿 s2 */

    section.s2 .center {
        width: 80vw;
        padding-top: 0;
        height: 85vw;
        /* padding: 10vw 0; */
    }
    section.s2 .center .row {
     
    }
    section.s2 .company_txt h1 {
        text-align: center;
        font-size: 5.3vw;
        /* margin-bottom: 6vw; */
    }
    section.s2 .company_txt p {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.5vw;
        line-height: 3vw;
        margin-top: 2.5vw;
        /* text-align: center; */
    }
    section.s2 img {
        width: 80vw;
        margin-bottom: 20vw;
    }
    section.s2 .company_img {
        transition-delay: 0.5s;
    }
    /* 태블릿 s3 */
    section.s3 {height: 100vh;}
    section.s3 .center {
        width: 100%;
        padding-top: 10vw;
    }
    section.s3 h1 {
        font-size: 5.3vw;
        margin-bottom: 3vw;
    }
    section.s3 p {
        font-size: 1.5vw;
    }
    section.s3 .swiper {
        height: 38vw;
    }
    section.s3 .swiper .swiper-slide {
        height: 31vw;
    }
    /* section.s3 .swiper .swiper-slide .p_top {
        height: 14vw;
        margin-bottom: 22vw;
    } */
    section.s3 .swiper .swiper-slide h3 {
        font-size: 1.6vw;
    }
    section.s3 .swiper .swiper-slide .p_bottom h3 {
        font-size: 1.4vw;
        padding-bottom: 0.5vw;
    }
    /* 스와이퍼 슬라이드의 스크롤바 보임 */
    section.s3 .swiper .swiper-pagination {
        display: block;
        width: 70%;
        /* height: 20px; */
        left: 50%;
        transform: translateX(-50%); 
        bottom: 0;
    }
    section.s3 .swiper-horizontal > .swiper-pagination-bullets {
        bottom:0;
    }
    section.s3 .swiper-horizontal > .swiper-pagination-bullets 
    .swiper-pagination-bullet {
        background-color: #eee;
        opacity: 1;
        width:20%;
        border-radius: 0;
        height: 3px;
        margin:0;
    }
    section.s3 .swiper-horizontal > .swiper-pagination-bullets
    .swiper-pagination-bullet-active {
        background:orange;
        opacity: 1;
    }
    section.s3 .swiper .swiper-slide:nth-child(odd) {
        margin-top: 0;
    }
    /* section.s4 */
    section.s4 .center {
        width: 96%;
        margin: 0 auto;
    }
    /* 제목 부분 */
    section.s4 .center .s4_title {
        font-size: 3.5vw;
        right: 50%;
        /* transform:translateX(0%); */
        top: 0;
        text-align: center;
    }
    section.s4 .center .s4_title > h1 {
        color: rgb(89, 89, 89);
        width: 100%;
        text-align: center;
        font-size: 5.3vw;
        /* right:50%;
        transform: translateX(50%); */
        top: 0;
    }
    section.s4 .center .s4_title > p {
        font-size: 1.5vw;
        float:none;
        text-align: center;
    }
    section.s4 .center .row .col-sm-12 {
        margin-bottom: 4vw;
        height:auto;
        /* 이거 써야 안겹침 */
    }
    section.s4 .center .row .col-sm-12 .s4_img {
        width: 45vw;
        margin-top: 10vw;
    }
    section.s4 .center .row .col-sm-12 .s4_des {
        padding: 4vw;
    }
    section.s4 .center .row .col-sm-12 .s4_des h1 {
        font-size: 3vw;
        margin-bottom: 5vw;
    }
    section.s4 .center .row .col-sm-12 .s4_des p {
        font-size: 2vw;
        line-height: 2.4vw;
    }
    section.s4 .center .row .s4_left .s4_img {
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
    section.s4 .center .row .s4_left .s4_des {
        right:8vw;
        bottom:0;
    }
    section.s4 .center .row .s4_right .s4_des {
        /* left: 39vw; */
        left: auto;
        bottom: 0vw;
        text-align:left;
    }
    section.s4 .center .row .s4_right .s4_img {
        margin-top: 2vw;
        float: left;
        /* padding-bottom: 3vw; */
    }
    /* s4 뉴 이미지 */
    section.s4 .center .row .s4_left .s4_img {
        height: 60vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
    section.s4 .center .row .s4_right .s4_img {
        height: 60vw;
        margin-top: 2vw;
        float: left;
        /* padding-bottom: 3vw; */
    }
    /* s4 텍스트 */
    /* 왼쪽 */
    section.s4 .center .row .col-6 .s4_des.s4_ani2 > p {
        color: #333;
        font-size: 3vw;
        width: 5.3vw;
    }
    /* 오른쪽 */
    section.s4 .center .row .col-6 .s4_des.s4_ani4 > p {
        color: #333;
        font-size: 3vw;
        width: 5.3vw;
    }
    section.s4 .center .row .col-6 .s4_des span {
        font-size: 1.7vw;
        line-height: 2.8vw;
    }
    /* s4 애니메이션 */
    section.s4 .s4_ani3 {
        margin-right:0;
        margin-left: -5vw;
        opacity: 0;
        transition: all 1s;
        transition-delay: 1s;
    }
    section.s4 .s4_ani3.active {
        opacity: 1;
        margin-left: 0;
    }
    section.s4 .s4_ani4 {
        margin-left: 0;
        opacity: 0;
        right:0vw;
        transition: all 1s;
        transition-delay: 1.5s;
    }
    section.s4 .s4_ani4.active {
        opacity: 1;
        right: 7.5vw;
    }
    /* s5 */
    /* 큰 사이즈 사진이 모양이 안 변하길래 js 이거 넣어줌

            //만약 윈도우의 가로길이가 1220보다 작으면(태블릿, 모바일 버전) 세로 아코디언 메뉴
        if(bodyW <= 1199){
            $('.acc_item').removeClass('active'); */
    section.s5 {
        height: 100vw;
        /* padding-top: 15vw; */
        /* padding: 5vw 0 5vw 0; */
    }
    section.s5 .center {
        width: 100%;
        margin: 0 auto;
    }
    section.s5 .center > h1 {
        font-size: 5.3vw;
        padding-top: 1vw;
    }
    section.s5 .center > p {
        font-size: 1.5vw;
        padding-bottom: 2vw;
    }
    section.s5 .center .acc {
        flex-flow: row wrap;
    }
    section.s5 .center .acc .acc_item {
        width: 49%;
        margin-bottom: 2vw;
    }
    section.s5 .center .acc .acc_item span {
        font-size: 2vw;
    }
    section.s5 .center .acc .acc_item h1 {
        font-size: 2vw;
    }

    /* s6 */
    section.s6 .center {
        width: 96%;
        margin: 0 auto;
        margin-top: 5vw;
    }
    section.s6 .center .list ul li {
        width: 32%;
        margin-bottom: 3vw;
    }
    section.s6 .center .list ul li:first-child {
        display: none;
    }
    section.s6 .center .list ul li:last-child {
        display: none;
    }

    /* s7 (map) */
    section.s7 {
        height: 100vh;
        background-color: #efefef;
    }
    /* 지도영역 */
    section.s7 #map_canvas {
        width: 100%;
        height: 100%;
    }
    section.s7 .s7_addr {
        /* top: 25vw; */
        width: 70%;
        height: auto;
        /* pc버전에 position:absolute 써있어서 안썼고,
        flex-flow:column nowrap 으로 해줌 */
        left:50%;
        transform: translateX(-50%);
        flex-flow:column nowrap; /* 자식들을 위아래로 정렬해야해서 이거 넣은것임 */
    }
    section.s7 .s7_addr .s7_img {
        width: 100%;
        height: 30vw;
        /* background-image: url(../img/map_bg2.jpg)
        이렇게 다른 이미지 넣어도 됨 */
    }
    section.s7 .s7_addr .s7_img .s7_icon {
        width: 12vw;
        height: 12vw;
        padding: 3vw;
    }
    section.s7 .s7_addr .s7_img .s7_icon p {
        line-height: 4vw;
        font-size: 1.4vw;
    }
    section.s7 .s7_addr .s7_info {
        padding: 3vw 4vw;
    }
    section.s7 .s7_addr .s7_info h1 {
        font-size: 4vw;
        margin-bottom: 2.4vw;
    }
    section.s7 .s7_addr .s7_info address {
        font-size: 1.6vw;
        line-height: 2.4vw;
    }
    section.s7 .s7_addr .s7_info address span {
        font-size: 1.5vw;
        line-height: 2.4vw;
        letter-spacing: 0;
    }
    section.s7 .s7_addr .s7_info i {
        font-size: 1.3vw;
        line-height: 2.4vw;
    }
    section.s7 .s7_addr .delivery {
        padding: 3vw 0;
    }
    section.s7 .s7_addr .delivery .s7_left {
        padding-top: 2vw 5vw 0 0 ;
        /* width: 10vw; */
    }
    section.s7 .s7_addr .delivery .s7_right {
        font-size: 1.5vw;
    }
    /* new   */
    section.s7 .s7_addr .s7_info .s7_des .s7_left > img {
        width: 3.5vw;
        height: 3.5vw;
    }
    section.s7 .s7_addr .s7_des .s7_right {
        padding: 2.3vw 3vw;
        padding-left: 0;
        color: #fff;
        font-weight: normal;
        font-size: 1.5vw;
    }
    /* 푸터 */
    footer .center {
        width: 100%;
        padding: 3vw 0 ;
        flex-flow: column nowrap;
    }
    footer .center .footer_logo {
        order: 3; /*3번째로 나열, display:flex와 같이 사용*/
        width: 100%;
        text-align:center;
    }
    footer .center .footer_logo h1 {
        font-size: 3vw;
        color: #fff;
    }
    footer .center .footer_logo p {
        font-size: 1.3vw;
        color: #ccc;
    }
    footer .center .footer_txt {
        order: 2;
        width: 100%;
        text-align:center;
        font-size: 1.5vw;
        line-height: 3vw;
        margin-bottom: 5vw;
    }
    footer .center .footer_site {
        order: 1;
        width: 30vw;
        height: 5vw;
        margin: 0 auto;
        margin-bottom: 5vw;
    }
    footer .center .footer_site .sns ul li {
        width: 5vw;
        margin-right: 1vw;
    }
    footer .center .footer_site .sns ul li i {
        font-size: 2.4vw;
        padding: 1.2vw;
    }
    footer .center .footer_site .family {
        margin-top: 0.5vw;
        height: 4vw;
    }
    footer .center .footer_site .family a {
        font-size: 1.4vw;
    }
    footer .center .footer_site .family a:first-child {
        font-size: 1.4vw;
        padding-left: 2.6vw;
    }
    footer .center .footer_site .family.active {
        height: 8vw;
    }

    /* site 주메뉴 */
    .sitemap {
        background-color: #fff;
        top:0;
        right: -100vw;
        /* 이걸 줘야지 맘대로 나오지 않음 */
        left:auto;
        opacity: 1;
        padding: 4vw 8vw;
        /* 서브메뉴가 넘 길어서 밑에 안보일때 쓰는거 */
        overflow-y: auto;
    }
    .sitemap.active {
        right: 0;
    }
    .sitemap .site_logo {
        float: left;
        width: 10vw;
    }
    .sitemap .site_close {
        width: 4vw;
        top: 4.5vw;
        right:6vw;
    }
    .sitemap .site_nav {
        margin-top: 10vw;
        width: 100%;
    }
    .sitemap .site_nav ul {
        flex-flow: column nowrap;
    }
    .sitemap .site_nav ul li a {
        font-size: 2.2vw;
        text-align: left;
        color: #111;
        padding: 2vw 0;
        border-bottom: 1px solid #ccc;
    }
    .sitemap .site_nav .sub li a {
        font-size: 2.4vw;
        text-align:left;
        border-bottom: none;
        color: #333;
    }
    .sitemap .site_nav .sub {
        display:none;
        padding: 1.5vw 0;
        border-bottom: 1px solid #ccc;
    }
    .sitemap .site_nav .sub li {
        margin:0;
    }
    .sitemap .site_nav .sub li a {
        text-align: left;
        font-size: 1.8vw;
        border-bottom:none;
        color: #333;
        display:block;
        padding: 0.7vw;
    }
    .sitemap .site_nav > ul > li:hover > a:after {
        width: 0;
    }
    .sitemap .site_nav > ul > li > a.active {
        color:orange;
    }
    .sitemap .site_sns {
        display: none;
    }
}
/* 모바일 버전 */
@media screen and (max-width: 767px){
    /* 헤더 */
    header .header_wrap .logo {
        /* margin-top: 2.5vw; */
        width: 17vw;
        height: 8vw;
    }
    header .header_wrap .menu {
        display: block;
        margin-top: 2.9vw;
        width: 5vw;
        height: 4.5vw;
    }
    /* 메뉴 누르면 나오는 로고 */
    .sitemap .site_logo {
        float: left;
        width: 22vw;
    }
    /* s111111 */
    section.s1 .swiper .swiper-slide .main_txt h1 {
        font-size: 10vw;
    }

    /* s222222 */
    section.s2 {
        padding-bottom: 14vw;
    }
    section.s2 .center {
        width: 98vw;
    }
    section.s2 .center .row {
        margin-left: 0;
    }
    section.s2 .company_txt h1 {
        text-align: center;
        font-size: 9vw;
        /* margin-bottom: 6vw; */
    }
    section.s2 .company_txt p {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 2vw;
        line-height: 3vw;
        margin-top: 2.5vw;
        /* text-align: center; */
    }
    section.s2 img {
        width: 90vw;
        margin-bottom: 20vw;
    }
    section.s2 .company_img {
        transition-delay: 0.5s;
    }

    /* s33333 */
    section.s3 {
        height: 85vh;
    }
    section.s3 .center {width: 100%;}
    section.s3 .swiper {
        height: 68vw;
    }
    section.s3 .swiper .swiper-slide {
        height: 60vw;
        padding: 3vw 4vw;
    }
    section.s3 .swiper .swiper-slide .p_top {
        height: 7vw;
        margin-bottom: 40vw;
    }
    /*  제목 */
    section.s3 .center > h1 {
        font-size:9vw;
    }
    section.s3 .center > p {
        font-size: 2vw;
    }
    /* 사진안에 글자 */
    section.s3 .swiper .swiper-slide h3 {
        font-size: 3vw;
        margin: 1vw;
    }
    section.s3 .swiper .swiper-slide p {
        font-size: 2vw;
    }
    section.s3 .swiper .swiper-slide .p_bottom h3 {
        font-size: 2vw;
        padding-bottom: 30px;
    }
    /* s44444 */

    section.s4 center {
        width: 98%;
    }
    /* 이미지들 모두 이만큼 */
    section.s4 .center .row .col-sm-12 .s4_img {
        width: 100%;
        height: 86vw;
        margin-top: 15vw;
    }
    /* 제목 */
    section.s4 .center .s4_title {
        /* width: 100%;
        height: 10vh; */
    }
    section.s4 .center .s4_title > h1 {
        font-size: 8vw;
        color:rgb(89, 89, 89);
        margin-bottom: 5vw;
    }

    /* 밑에 설명글 */
    /* 왼쪽 */
    section.s4 .center .row .col-6 .s4_des.s4_ani2 > p {
        color: #333;
        font-size: 4vw;
        width: 5.3vw;
    }
    /* 오른쪽 */
    section.s4 .center .row .col-6 .s4_des.s4_ani4 > p {
        color: #333;
        font-size: 4vw;
        width: 5.3vw;
    }
    section.s4 .center .row .col-6 .s4_des span {
        font-size: 2.3vw;
        line-height: 3.5vw;
    }
    section.s4 .center .row .col-sm-12 .s4_des {
        width: 50%;
        background-color: white;
        padding: 2.4vw;
    }   
    section.s4 .center .row .s4_left .s4_des {
        position: relative;
        width: 100%;
        bottom: 0 ;
        right: 0;
    }
    section.s4 .center .row .s4_right .s4_img {
        margin-bottom: 1vw;
        margin-top: 7vw;
        float:right;
    }
    section.s4 .center .row .s4_right .s4_des {
        position: relative;
        width: 100%;
        bottom: 0 ;
        right: 0;
    }
    section.s4 .center .row .s4_ani2 {

    }

    /* s5555555 */
    /* section.s5 {padding-top:15vw;} */
    section.s5 {
        height: 320vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.s5 .center {
        width: 100%;
        margin: 0 auto;
    }
    section.s5 .center .acc {
        flex-flow: row wrap;
    }
    section.s5 .center .acc .acc_item {
        width: 100%;
        height: 70vw;
        margin-bottom: 1vw; 
        padding-top: 30vw;
    }
    section.s5 .center > h1 {
        font-size:8vw;
    }
    section.s5 .center > p {
        font-size:2vw;
        margin-bottom: 7vw;
    }

    section.s5 .center .acc .acc_item span {
        font-size: 7vw;
    }
    section.s5 .center .acc .acc_item h1 {
        font-size: 4vw;
    }

    /* section s666 */
    section.s6 .center {
        width: 96%;
        margin:0 auto;
    }

    /* section s777 */
    section.s7 {
        height: 90vh;
        background-color: #efefef;
    }
    section.s7 .s7_addr .s7_info h1 {
        font-size: 4vw;
        margin-bottom: 2.4vw;
    }
    /* 아이콘 이미지 */
    section.s7 .s7_addr .s7_info .s7_des .s7_left > img {
        width: 4.5vw;
        height: 4.5vw;
    }
    section.s7 .s7_addr .s7_des .s7_right {
        padding: 2.3vw 3vw;
        padding-left: 2vw;
        color: #fff;
        font-weight: normal;
        font-size: 0.95vw;
    }
    section.s7 .s7_addr .s7_info address span {
        font-size: 1.8vw;
        line-height: 2.8vw;
        letter-spacing: 0;
    }
    section.s7 .s7_addr .delivery .s7_right {
        font-size: 1.8vw;
    }

    /* footer */
    footer .center .footer_txt {
        order: 2;
        width: 100%;
        /* text-align: left; */
        font-size: 0.9vw;
        line-height: 3vw;
        margin-bottom: 5vw;
    }
    footer .center .footer_site .sns ul {
        width: 19vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        /* margin: 0.5vw 1vw 0 0; */
    }
}